

/*   universal styles   */

* {
  font-family: "Helvetica";
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

 /*   header styles   */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  font-size: 22px;

}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  padding-left: 10px;

}

header nav {
  display: flex;
  text-decoration: underline;
  padding-right: 10px;
}

header span {
  margin: 15px;
}

/*   main styles   */

#main {
  display: flex;
  z-index: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url(../images/background.jpg);
}

#mission {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
}
