* {
  text-align: center;
  color: seashell;
}


header, nav, div {
  border: 1px solid white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;

}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  padding-right: 10px;
  font-family: "Helvetica";
  font-size: 22px;
  padding-right: 20px;

}

nav span {
  margin-left: 20px;
  text-decoration: underline;
  color: seashell;

}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  background-color: black;
  opacity: 0.9;

}

#mission {
  display: flex;
  height: 700px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background.jpg);
  background-color: black;

}

.text-mission {
  display: block;
  text-align: center;
  width: 100%;
  background-color: black;


}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-between;
  width: 1000px;
}

.wrap-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap-images img {
  height: 200px;
  width: 300px;
  margin: 0px;
}

.wrap-images h4 {
  margin-top: 10px;
}

#locations {
  display: block;
  background-image: url(../images/locations.jpg);
  height: 500px;
  width: 1200px;
  color: seashell;

}

#locations h2 {
  padding-top: 50px;
}

.location-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.location {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
}
